<!DOCTYPE html>
<html>
<head>
  <title>Con+</title>
</head>
<body>
<div style="width:100px;height:98vh;background:#F2F2F2;">
  <div style="width:90px;height:90px;background:#FF73AC;border-radius:45px;margin:0px auto;margin-top:5px;"></div>
</div>
<%= yield %>

</body>
</html>
